
.bars {
  display: flex;
  z-index: 9;

  &-bar-1 {
    background-color: rgba(197,206,174,0.6);
    transform: rotateZ(10deg);
    animation-duration: 17s;
    animation-name: pulse1;
    width: 8%;
  }

  &-bar-2 {
    background-color: rgba(171,82,107,0.7);
    transform: rotateZ(10deg);
    animation-duration: 19s;
    animation-name: pulse2;
    width: 10%;
  }

  &-bar-3 {
    background-color: rgba(188,162,151,0.6);
    transform: rotateZ(10deg);
    animation-duration: 25s;
    animation-name: pulse3;
    width: 12%;
  }

  &-bar-4 {
    background-color: rgba(240,226,164,0.6);
    animation-duration: 23s;
    animation-name: pulse4;
    width: 11%;
  }

  .moving-bar {
    top:-200px;
    height: 500px;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
    background-blend-mode: lighten;
  }
}
