body {
  margin: 0;
  background-color: #fafafa;
}

.jumbotron {
  height: 200px;
  background-color: #F4EBC3;
  overflow: hidden;

  h1 {
    margin: 0 auto;
    font-weight: 700;
    text-shadow: 2px 2px 2px #000;
  }

  h3 {
    margin-top: 0px;
    font-weight: 300;
    color: #444;
  }
}

.name_and_title {
  text-align: center;
  margin-top: 0;
  color: white;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
  position: relative;
  top: -486px;
  padding: 0;
}

.project_container {
  width: 310px;
  height: 190px;
  margin: 0 auto;
  padding: 0 5px;
}

.project {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}

.project-img {
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: all .3s;
  margin-bottom: 30px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  }

  img {
    max-width: 100%;
  }
}


.project h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:24px;
  text-align: center;
  position: relative;
}

.project-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.project_container a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: #111;

  &:hover {
    text-decoration: none;
    color: #888;
  }
}

.link-box {
  display: block;
  margin: 30px auto;
  text-align: center;

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.links {
  margin: 0 auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  bottom: 0px;
}

.tags > div {
  margin: 3px 3px;
  background-color: #F1E4C1;
  border-radius: 3px;
  padding: 3px 5px;
}

.intro p {
  margin: 10px 0 40px 0;
  font-size: 1.2em;
}

.content {
  padding: 0 10px;
  overflow: hidden;
}
