.name_box {
  width: 100%;
  background-color: #333;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  overflow: hidden;
}

.name_box h1 {
  margin: 0 auto;
  font-weight: 700;
}

.name_box h3 {
  margin-top: 0px;
  font-weight: 300;
}

.name_and_title {
  text-align: center;
  margin-top: 0;
  color: white;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  z-index: 10;
  position: relative;
  top: -486px;
  padding: 0;
}

body {
  margin: 0;
}


@keyframes pulse1 {
  0%, 100%{
    left: -3%;
    transform: rotateZ(5deg);

  }
  50% {
    left: 22%;
    transform: rotateZ(-6deg);

  }
}

@keyframes pulse2 {
  0%, 100%{
    left: -2%;
    transform: rotateZ(12deg);
  }
  25% {
    left: 10%;
    transform: rotateZ(-12deg);
  }
  75% {
    left:-15%;
    transform: rotateZ(-12deg);
  }
}

@keyframes pulse3 {
  0%, 100%{
    left: 0%;
    transform: rotateZ(-12deg);

  }
  50% {
    left: -28%;
    transform: rotateZ(8deg);

  }
}


@keyframes pulse4 {
  0%, 100%{
    left: -28%;
    transform: rotateZ(0deg);

  }
  25%{
    left: -40%;
    transform: rotateZ(0deg);

  }
  75% {
    left: -13%;
    transform: rotateZ(13deg);

  }
}

.bar1 {
  background-color: rgba(0,255,0,0.6);
  transform: rotateZ(10deg);
  animation-duration: 17s;
  animation-name: pulse1;
  width: 8%;
}

.bar2 {
  background-color: rgba(50,50,255,0.7);
  transform: rotateZ(10deg);
  animation-duration: 19s;
  animation-name: pulse2;
  width: 10%;
}

.bar3 {
  background-color: rgba(255,0,255,0.6);
  transform: rotateZ(10deg);
  animation-duration: 25s;
  animation-name: pulse3;
  width: 12%;
}

.bar4 {
  background-color: rgba(255,255,0,0.6);
  animation-duration: 23s;
  animation-name: pulse4;
  width: 11%;
}

.moving_bar {
  top:-200px;
  height: 500px;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  background-blend-mode: lighten;

}

.bars {
  display: flex;
  z-index: 9;
}

.project_container {
  width: 310px;
  height: 190px;
  margin: 0 auto;
  padding: 0 5px;
}

.project {
  width: 300px;
  height: 180px;
  margin: 5px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project h2 {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 6px black;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.2);;
}

.foodium {
  background-image: url('images/foodium.jpg');
}

.spin-pong {
  background-image: url('images/spin_pong.jpg');
}

.readable-readme {
  background-image: url('images/readable.jpg');
}

.ign {
  background-image: url('images/ign.jpg');
}

.projects {
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width:850px;
}

.project-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.project_container a {
  text-decoration: none;
  color: white;
}

.link-box {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.link-box a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.link-box h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.links {
  margin: 0 auto;
}
