@keyframes pulse1 {
  0%, 100%{
    left: -3%;
    transform: rotateZ(5deg);

  }
  50% {
    left: 22%;
    transform: rotateZ(-6deg);

  }
}

@keyframes pulse2 {
  0%, 100%{
    left: 10%;
    transform: rotateZ(12deg);
  }
  49% {
    left:-15%;
    transform: rotateZ(-12deg);
  }
}

@keyframes pulse3 {
  0%, 100%{
    left: 0%;
    transform: rotateZ(-12deg);

  }
  52% {
    left: -28%;
    transform: rotateZ(8deg);

  }
}

@keyframes pulse4 {
  0%, 100%{
    left: -40%;
    transform: rotateZ(0deg);
  }
  50%{
    left: -13%;
    transform: rotateZ(0deg);
  }

}
